/*this section is dedicated to the main body------------------------------------------------------*/
body{
  	float: left;
  	color: black;
  	font: 100% /1 /* 20px/16px */  "times new roman", ariel;
  	width: 80%;
  	background-color: #fff;
  	border: .25em solid #111; /* 4px/16px */
  	padding: .625em .625em .625em .625em /* 10px/16px */;
  	margin: .625em .625em .625em .625em /* 10px/16px */;
  	background: url('../images/ring3.png') rgba(0, 0, 0, 0.35) repeat 20%;
 }

/*the css below is for the headers----------------------------------------------------------------*/ 
h1, h2, h3, h4{
  	color: #fff;
  	background-color: #008;
  	width: 100%;
  	font: italic bold 1.875em /* 30px/16px *//2 helvetica, ariel, sans-serif;
  	text-decoration: underline;
  	float: right;

/*the css below is for the header (h5) section on the Summer Collection Page----------------------*/
h5{
  	color: #000;
  	font: italic normal 3.125em/1 helvetica, ariel, sans-serif; /* 50px/16px *//1 helvetica, ariel, sans-serif;
  	text-shadow: 30% 30% 40% #111;
  	text-align: center;
}

/*=======================================MAIN NAVIGATION AREA=====================================*/
/*this section is for the main navigation---------------------------------------------------------*/
}
body header nav ul{
  	display: inline;
  	background-color: #fff;
  	border: .25em  /* 4px/16px */ solid #008;
  	width: 95%;
  	float: left;
  	display: inline;
  	margin: 0 auto;
  	list-style-type: none;
  	padding: 0;
  	overflow: hidden;
  	background: 008;
}

/*=====================================MISC. CODE ================================================*/
/*this section is for the images------------------------------------------------------------------*/
img{
    display: inline;
  	border: .0625em /* 1px/16px */ solid #111;
  	box-shadow: .1875em .1875em .1875em #111 /* .1875em = 3px/16px */;
  	padding: .625em .625em .625em .625em /* 10px/16px */;
  	margin: .3125em .3125em .3125em .3125em /*5px/16px*/;  
  	box-align: left;
}

body section ul{
	list-style-type: none;
	display: inline;
	float: left;
	width: 95%;
}

body section ul li{
	float: left;
	padding: 0;
	display: inline-block;
	overflow: hidden;
	padding: .3125em;
	display: block;
	outline: 0;
	}

	
/*the css below is for the article section Why by from The Incredebble Ebb, Note This Also includes 
the header (h2) ----------------------------------------------------------------------------------*/
div article {
  	font-family: courier;
  	background-color: #fff;
  	border: .25em /* 4px/16px */ solid #111;
  	padding: .3125em .3125em .3125em .3125em /*5px/16px*/;
  	margin: .3125em .3125em .3125em .3125em /*5px/16px*/; 
  	float: left;
}

/*the css below is for the article section Why by from The Incredebble Ebb------------------------*/
div article section {
  -ms-column-count: 3;
  -ms-column-gap: 1.875em /* 30px/16px */;
  -moz-column-count: 3;
  -moz-column-gap: 1.875em /* 30px/16px */;
  -web-column-count: 3;
  -web-column-gap: 1.875em /* 30px/16px */;
  -o-column-count: 3;
  -o-column-gap: 1.875em /* 30px/16px */;
  -khtml-column-count: 3;
  -khtml-column-gap: 1.875em /* 30px/16px */;
}

/*the css below is for the featured piece section------------------------------------------------*/
body div section img {
  opacity: 0.95;
}

/*=======================================MAIN NAVIGATION AREA=====================================*/
/*this section is for the main navigation---------------------------------------------------------*/

}
.main_nav{
  	display: inline;
  	border: .25em  /* 4px/16px */ solid #008;
  	width: 95%;
  	list-style-type: none;
}

/*========================================FOOTER SECTION==========================================*/
/*the css below is for the footer section---------------------------------------------------------*/
body section, footer {
  -ms-background-color: #fff;
  -moz-background-color: #fff;
  -web-background-color: #fff;
  -o-background-color: #fff;
  -khtml-background-color: #fff;
  background-color: #fff;
  padding: .3125em .3125em .3125em .3125em /*5px/16px*/;
  margin: .3125em .3125em .3125em .3125em /*5px/16px*/;
}

/*========================== SUMMER COLLECTIONS PAGE/ CONTACT PAGE================================*/
/*the css below is for the summer collection "Why should I purchase from The Incredeble Ebb Section
and the contact section on the contact page-------------------------------------------------------*/
.photo_gal, .contact {
  -ms-background-color: #fff;
  -moz-background-color: #fff;
  -web-background-color: #fff;
  -o-background-color: #fff;
  -khtml-background-color: #fff;
  background-color: #fff;
  border: .25em solid #111;  /* 4px/16px */ 
  padding: .3125em .3125em .3125em .3125em /*5px/16px*/;
  margin: .3125em .3125em .3125em .3125em /*5px/16px*/;
}

body section ul li{
  border:1px dashed #fff;
  list-style-type: none;
  display: inline;
}


/*==============================================ANCHOR/BUTTONS====================================*/
/*Link Color _____________________________________________________________________________________*/
.main_nav a:link{
   color: #008;
}

.main_nav a:visited{
   color: #aaa;
}

.main_nav a:hover{
   color: #000;
   background: #96f;
}

.main_nav a:active{
   color: #c9f;
}

header nav ul li{
   list-style-type: square;
}

body ul li{
   list-style-type: none;
}

/*===============================MAIN NAV BUTTONS=================================================*/
/*The css below is for the navigational button style______________________________________________*/
.main_nav{
   float: right;
   width: 33%;
   display: inline;
   margin: 0 auto;
   list-style-type: none;
   padding: 0;
  overflow: hidden;
  background: 008;
}

/*The css below is for the anchors________________________________________________________________*/
.main_nav a {
  font-size: 2em;
  text-decoration: none;
  text-align: center;
  margin-right: 1.5em;
  width: 95%;
  height: 120%;
  display: inline-block;
  position:relative;
  line-height: 120%;
  border-radius: 40%;
  border-style: solid;
  background-color: #000;
}